.container {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}


.divflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}

li a {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  display: flex;
  gap: 50px;
}

.fa-bars {
  font-size: 32px;
  display: none;
}

@media (max-width: 700px) {
  .fa-bars {
    display: block;
  }
  nav {
    display: none;
  }
}

.popo2 {
  max-width: 1546px;
  width: 130%;
  position: relative;
  z-index: 1;
}

.pir {
  text-align: center;
  margin-top: -400px;
  z-index: 2;
  position: relative;
  color: #fff;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.meo {
  text-align: center;
  margin-top: 31px;
  z-index: 2;
  position: relative;
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.idk1 {
  margin-top: 31px;
}

section {
  display: flex;
}

.idk {
  width: 235px;
  position: relative;
}

.sata {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btext {
  margin-top: 9px;
  margin-bottom: 31px;
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.idk2 {
  margin-top: 23px;
  margin-bottom: 9px;
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.idk3 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.idk4 {
  width: 286px;
}

.idk5 {
  display: flex;
  margin-top: 350px;
  justify-content: space-between;
}

.container1 {
  max-width: 650px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 33px;
  margin-top: 56px;
}

@media screen and (width<=1180px) {
  .popo2 {
    width: 100%;
  }
    .idk5 {
        flex-direction: column;
        gap: 33px;
        width: 300px;
    }
    .container1 {
        flex-direction: column;
        gap: 33px;
        width: 300px
        
    }
  
}


@media screen and (width<=1000px) {
  .pir {
    margin-top: -100px;
    font-size: 31px;
  }
  .meo {
    font-size: 16px;
  }

  .idk5 {
    margin-top: 100px;
  }
  
}


  

